@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.banner {
    width: 100%;
    height: 75px;
    background-image: url('img/header-offer-banner.jpg');
    background-size: cover;

}

.bar-top {
    width: 100%;
    height: 125px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    color: #fff;
    gap: 20px;
  
}


.logo {
    padding: 25px 20px;
}

.logo img {
    width: 80%;
    padding: 0;
    margin: 0;
}



.search {
    margin: auto;
}

.busqueda {
    display: flex;
    background-color: #fff;
}

.busqueda i {
    border-left: 1px solid #eee;
    width: 65px;
    height: 40px;
    background-color: #000000;
    color: #eee;
    padding: 8px 20px;
    font-size: 25px;
    cursor: pointer;
}

.sub-busqueda {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

.sub-busqueda a {
    height: 20px;
    margin: 0px 13px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

#tiendas {
    color: rgb(255, 221, 0);
    border-bottom: 2px solid #ffffff;
}

.sub-busqueda a:hover {
    color: rgb(255, 221, 0);
    border-bottom: 2px solid #ffffff;
}

input{
    width: 635px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.login {
    display: flex;
    margin: auto;
    margin-left: 110px;
    padding-right: 50px;
    font-size: 14px;
}

.btn-2 {
    width: 110px;
    height: 43px;
    font-size: 18px;
    border-radius: 5px;
    border: 3px solid goldenrod;
    background-color: #222222;
    color: #ffffff;
    cursor: pointer;
    transition: all .7s;
}

.btn-2:hover {
    background-color: goldenrod;
}

.login i {
    font-size: 15px;
    margin-left: 10px;
}

.menu {
    width: 100%;
    height: 60px;
    background-color: #eee;
}

.nav-menu {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 0 5px;
    border: 1px solid #ffffff; 
    margin-right: 20px;  
}

.nav-menu a {
    display: flex;
    padding: 23px 35px;
    text-decoration: none;
    transition: .3s;
}

.categoria {
    background-color: #f8ba00;
    border-right: 2px solid #ffffff;
    color: #ffffff;
}

#cate {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.fa-cart-shopping {
    padding: 0 10px;
    color: #000000;
    font-size: 20px;
}


.nav-menu a:hover {
    background-color: #f8ba00;
}

.nav-menu a:hover li {
    color: #ffffff;
}

.nav-menu a li {
    list-style: none;
    font-size: 17px;
    color: black;
}

/* carousel ------------------------- */

#side {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
}



.slide-bar {
    color: #d9d9d9;
    width: 100%;
    height: 400px;
    background-size: cover;
    gap: 10px;
    position: relative;
}

.tarjeta-carousel {
    background-color: rgb(0, 0, 0);
    height: 100%;
    text-align: center;

}

.tarjeta-carousel img {
    width: 70%;
    height: 100%;
}

.flechas-carousel {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.flechas-carousel a {
    text-decoration: none;
}

.flechas-carousel i {
    font-size: 35px;
    color: #ffffff;
    padding: 8px 15px;
    transition: all .3s;
    border-radius: 50%;
}

.flechas-carousel i:hover {
    background-color: #f8ba00;
}






.tarjetas {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
    gap: 20px;
}

.tarjetas div {
    border-radius: 5px;
    overflow: hidden;
    
}

.tarjetas div img {
    overflow: hidden;
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 1.5s;
    opacity: 90%;
    
}

.tarjetas div img:hover {
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.2);
   
}

.cont {
    background-color: #ffffff;
    width: 85%;
    margin: 0 auto;
    height: 700px;
    border-radius: 5px;
    border: 1px solid 	#d9d9d9;
    padding: 10px;
    margin-bottom: 100px;
}

.bar-superior {
    display: flex;
    margin: 0 auto;
    width: 95%;
    height: 60px;
    justify-content: space-between;
    padding: 20px 20px;
    border-bottom: 1px solid #0000001e;
    /* box-shadow: 1px 5px 15px #0000001e; */
    margin-bottom: 20px;
}

.title {
    font-size: 25px;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

ul {
    list-style: none;
}

.nv-menu {
    display: flex;
    float: right;
}

.nv-menu a {
    text-decoration: none;
    padding: 0 20px;
}

.nv-menu a li {
    list-style: none;
    color: gray;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.fa-shopify {
    padding: 0px 10px;
}

.container div {
    width: 260px;
    height: 270px;
    text-align: center;

    margin-bottom: 10px;
    border-bottom: 1px solid #0000001e;
    border-right: 1px solid #0000001e;
    cursor: pointer;
    box-shadow: 5px 5px 10px #0000000f;
}
.container img {
    width: 85%;
    height: 190px;
    margin-bottom: 5px;
    transition: 1s;
}

.container img:hover {
    transform: scale(1.1);
}

/* footer----------------------- */

.footer {
    width: 100%;
    height: 300px;
    background-color: #222222;
    padding: 50px;
    display: flex;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 53%;
    border-right: 1px solid #ffffff;
}

.redes {
    font-size: 30px;
}

.copy {
    padding-top: 30px;
    font-size: 12px;
}

.right >* {
    margin: 15px;
}

.left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about a {
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    transition: all .3s;
}

.about a:hover {
    color: #4b4b4ba8;
}